<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coiggahou.blog.mapper.BlogMapper">


    <resultMap id="singleBlogPreviewResultMap" type="com.coiggahou.blog.entity.blog.Blog" >
        <id property="id" column="blog_id" jdbcType="INTEGER" />
        <result property="bannerPicture" column="banner_picture" jdbcType="VARCHAR" />
        <result property="title" column="title" jdbcType="VARCHAR" />
        <result property="digest" column="digest" jdbcType="LONGVARCHAR" />
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" />
        <collection property="tags" ofType="com.coiggahou.blog.entity.blog.Tag">
            <id property="id" column="tag_id" jdbcType="INTEGER" />
            <result property="name" column="tag_name" jdbcType="VARCHAR" />
        </collection>
    </resultMap>

    <select id="selectPreviewById" resultMap="singleBlogPreviewResultMap">
        SELECT t_blogs.id AS blog_id,
               t_blogs.banner_picture,
               t_blogs.title,
               t_blogs.digest,
               t_blogs.create_time,
               t_tags.id AS tag_id,
               t_tags.name AS tag_name
        FROM t_blogs, t_tags, t_blogs_tags
        WHERE t_blogs.id = #{blog_id}
          AND t_blogs_tags.blogs_id = #{blog_id}
          AND t_tags.id = t_blogs_tags.tags_id
    </select>

    <select id="selectAllPreviews" resultMap="singleBlogPreviewResultMap">
        SELECT t_blogs.id AS blog_id,
               t_blogs.banner_picture,
               t_blogs.title,
               t_blogs.digest,
               t_blogs.create_time,
               t_tags.id AS tag_id,
               t_tags.name AS tag_name
        FROM t_blogs, t_tags, t_blogs_tags
        WHERE t_blogs.id = t_blogs_tags.blogs_id
          AND t_tags.id = t_blogs_tags.tags_id
    </select>

    <select id="selectContentById" resultType="com.coiggahou.blog.entity.blog.Blog">
        SELECT *
        FROM t_blogs
        WHERE t_blogs.id = #{blog_id}
    </select>


    <insert id="insertNewBlogWithoutTags" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO t_blogs(banner_picture, title, subtitle, author, is_published, content, create_time, appreciation_on, comment_on)
        VALUES (#{blog.bannerPicture}, #{blog.title}, #{blog.subtitle}, #{blog.author}, #{blog.isPublished}, #{blog.content}, #{blog.createTime}, #{blog.appreciationOn}, #{blog.commentOn})
    </insert>
    <insert id="insertTagForNewBlog">
        INSERT INTO t_blogs_tags (blogs_id, tags_id) VALUES (#{blog.id}, #{tag.id})
    </insert>





</mapper>