<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coiggahou.blog.mapper.TagMapper">


    <select id="selectTopByLimit" resultType="com.coiggahou.blog.entity.blog.Tag">
        select t_tags.name
        from (select tags_id, count(*) as count
              from t_blogs_tags
              group by tags_id
              order by count desc limit #{limit}) temp, t_tags
        where temp.tags_id = t_tags.id
    </select>

    <select id="selectAllTagNames" resultType="String">
        select name from t_tags
    </select>

    <select id="selectByNames" resultType="com.coiggahou.blog.entity.blog.Tag">
        select * from t_tags where name in
        <foreach collection="tags" item="tag" open="(" close=")" separator=",">#{tag.name}</foreach>
    </select>

<!--    <insert id="insertTagsForNewBlog">-->
<!--        insert into t_blogs_tags (blogs_id, tags_id) values-->
<!--        <foreach collection="list" item="tag_id">(#{blog_id}, #{tag_id})</foreach>-->
<!--    </insert>-->

</mapper>